:host {
  display: block;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

input:focus,
select:focus {
  outline: none;
}

.border-b:last-child {
  border-bottom: none;
}